<h1>So where's your food from?</h1>

<% form_for @entry do |f| %>

  <%= f.error_messages %>

  <% f.fields_for :food do |food_form| %>

    <p>
      <%= food_form.label :name, 'What are you eating/drinking?' %><br />
      <%= food_form.text_field :name %>
    </p>
    
    <p>
      Is that a food or drink?<br />
      <%= food_form.radio_button :consumption_type, 'food' %>
      <%= food_form.label :consumption_type_food, "Food" %><br />
      <%= food_form.radio_button :consumption_type, 'drink' %>
      <%= food_form.label :consumption_type_drink, "Drink" %>
    </p> 

  <% end %>

  <p>
    <%= f.label :consumer_id, 'Where are you?' %><br />
    <%= f.select :consumer_id, @countries.collect { |c| [c.name, c.id] }, {:prompt => 'Select a country'} %>
  </p>

  <p>
    <%= f.label :producer_id, 'Where was it produced?' %><br />
    <%= f.select :producer_id, @countries.collect { |c| [c.name, c.id] }, {:prompt => 'Select a country'} %>
  </p>

  <p> 
    <% f.fields_for :brand do |brand_form| %>
      <%= brand_form.label :name, 'What brand is it?' %><br />
      <%= brand_form.text_field :name %>
    <% end %> 
  </p>

  <p>
    <%= f.submit "Add entry" %>
  </p>
    
<% end %>
